<!DOCTYPE html>
<html>
    {{ template "header.html" }}
    <body>
        {{ template "menubar.html" }}

        <div class="container text-center">

            <div class="row mt-5">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 col-sm-12">
                    <p class="h1">Twitch</p>
                    <p class="h6 lh-lg" style="text-align:justify;">
                    If you are a Twitch streamer, you can connect a board to your Twitch chat. As the channel owner, use the command "!setboard [board_id]" in chat to specify which board to connect to. Audience members can use the command "!branch [start] [coordinates]" to add a branch to the tree. (For example, use "!branch 23 e17 d17 e16 c14" to add a branch starting at move 23).
                    </p>
                    <p class="h6 lh-lg" style="text-align:justify;">
                    Click here <a href="/apps/twitch/subscribe"><btn class="btn btn-light"><i class="bi-send"></i></button></a> to authorize and subscribe the chatbot to your channel. You must be logged in to Twitch.
                    </p>
                    <p class="h6 lh-lg" style="text-align:justify;">
                    Click here <a href="/apps/twitch/unsubscribe"><btn class="btn btn-light"><i class="bi-send-x"></i></button></a> to unsubscribe the chatbot from your channel. You must be logged in to Twitch.



                    </p>

                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>


        {{ template "footer.html" }}


    </body>
</html>
