services:
  loki:
    image: grafana/loki:latest
    container_name: loki
    volumes:
      - loki_data:/var/loki
      - ./loki/loki-config.yaml:/etc/loki/local-config.yaml:ro
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    restart: unless-stopped

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    volumes:
      - ${LOG_PATH}:/var/log:ro
      - ./alloy:/etc/alloy
    command: run /etc/alloy/config.alloy
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      # change in real deployments
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
      # these two lines are specific for a deployment
      # where a proxy (like nginx) routes 127.0.0.1/grafana -> 127.0.0.1:3000
      - GF_SERVER_ROOT_URL=${GRAFANA_ROOT_URL}
      - GF_SERVER_SERVE_FROM_SUB_PATH=${GRAFANA_SUB_PATH}

    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    ports:
      - "3000:3000"
    restart: unless-stopped
    depends_on:
      - loki

volumes:
  loki_data:
  grafana_data:

