<!DOCTYPE html>
<html>
    {{ template "header.html" }}
    <body>
        {{ template "menubar.html" }}

        <div class="container text-center">

            <div class="row mt-5">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 col-sm-12">
                    <p class="h1">About</p>
                    <p class="h6 lh-lg" style="text-align:justify;">
                    This is an online board which allows <b>shared control across all participants</b>.  Create a board, share the link with your friends. Experiment with variations. In theory, you could even play informal games.
                    </p>

                    <p class="h5">How to Use</p>
                    <p class="h6 lh-lg" style="text-align:justify;">
                    Enter a name for your new board (or leave it blank and the server will generate an id for you), and click "New Board." This will generate a new URL that you can then share with other participants.

                    <br>

                    After 24 hours of no activity, boards will be automatically cleared.
                    
                    </p>

                    <p class="h5">Tools</p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-circle-half"></i></button>Place stones, toggle between black and white. Shift+click on an intersection will jump to when a stone was played on that intersection. (Keyboard shortcut: 1)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-circle-fill"></i></button>Place black stones. Can be used to remove existing stones. Shift+click places white stone. (Keyboard shortcut: 2)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-circle"></i></button>Place white stones. Can be used to remove existing stones. Shift+click places black stone. (Keyboard shortcut: 3)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-arrow-repeat"></i></button> Pass. (Keyboard shortcut: 4)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-triangle"></i></button> Place triangles. (Keyboard shortcut: 5)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-square"></i></button> Place squares. (Keyboard shortcut: 6)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-alphabet-uppercase"></i></button> Place letters. (Keyboard shortcut: 7)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-123"></i></button> Place numbers. (Keyboard shortcut: 8)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-palette"></i></button> Select pen color for drawing.
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-pen"></i></button> Draw with a pen (Keyboard shortcut: 9)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-eraser"></i></button> Erase pen marks (Keyboard shortcut: 0)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-scissors"></i></button> Delete the current branch. Branch is copied to the clipboard. (Keyboard shortcut: Ctrl+X/Cmd+X)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-copy"></i></button> Copy the current branch to the clipboard. (Keyboard shortcut: Ctrl+C/Cmd+C)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-clipboard"></i></button> Paste the branch from the clipboard to the game tree. (Keyboard shortcut: Ctrl+V/Cmd+V)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-calculator"></i></button> Score the board state. Mark dame or dead groups. (Keyboard shortcut: Ctrl+Enter/Cmd+Enter)
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-trash"></i></button> Reset the entire board.
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-upload"></i></button> Upload SGFs:
                    <ul style="text-align:left;">
                        <li>Upload from the device. Upload multiple files at a time, or even zip files.</li>
                        <li>Paste an SGF</li>
                        <li>Paste a URL to an sgf</li>
                        <li>Paste the URL of a live OGS game</li>
                    </ul>
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-download"></i></button> Download SGFS:
                    <ul style="text-align:left;">
                        <li>Download to the device</li>
                        <li>Get a link to the raw SGF</li>
                    </ul>
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-info-circle"></i></button> Show game information.
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-chat-left-text"></i></button> Toggle comments.
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-people-fill"></i></button> Show connected users.
                    </p>

                    <p class="h6 lh-lg" style="text-align:justify;">
                    <button class="btn btn-light"><i class="bi-gear"></i></button> Show settings:
                    <ul style="text-align:left;">
                        <li>Set nickname</li>
                        <li>Set black player</li>
                        <li>Set white player</li>
                        <li>Set komi</li>
                        <li>Set board size</li>
                        <li>Toggle darkmode</li>
                        <li>Add password</li>
                    </ul>
                    </p>

                    <p class="h5">Arrow Keys</p>

                    <p class="h6 lh-lg" id="updown" style="text-align:justify;">
                    The left and right arrow keys move left and right in the game tree. The up and down arrow keys move up and down branches (a la OGS), while shift+up and shift+down modify which branch to follow (a la KGS). This functionality can be switched in the settings by clicking on the <button class="btn btn-light"><i class="bi-gear"></i></button> button.
                    </p>

                    <p class="h5" id="input-buffer">Input Buffer</p>
                    <p class="h6 lh-lg" style="text-align:justify;">
                    With no other controls in place, users will quickly start "interrupting" each other when putting stones on the board at the same time. So, each room has a slider for what we call "Input Buffer". After a user changes the board in some way, the server will ignore everyone else for a given period of time (default: 250ms). This can be adjusted in the settings.
                    <!--
                        i've read that the average human reaction time is no faster than 250ms anyway
                        test your reaction time here: https://humanbenchmark.com/tests/reactiontime
                    -->
                    </p>
 
                    <p class="h5" id="input-buffer">Donate</p>
                    <p class="h6 lh-lg" style="text-align:justify;">
                    If you like this tool and want to support my work, send me a tip:<a href="https://tiptopjar.com/tripleko" target="_blank"><btn class="btn btn-light"><i class="bi-cash"></i></button></a>


                    </p>

                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>


        {{ template "footer.html" }}


    </body>
</html>
